{% extends "blog/base.html" %}

{% block title %} About Me {% endblock %}

{% block header %}
{% load staticfiles %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{% static "img/about-bg.jpg" %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>About Me</h1>
                        <hr class="small">
                        <span class="subheading">This is what I do.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block main %}
    <p>
        Hello and welcome to my website
    </p>
    <p>
        I am Kevin, a freelance web developer based in Nairobi, Kenya and this is where I collect some of my writings.
    </p>
    <p>
        More info about the site itself can be found on the <a href="/about-this-site"> About this Site</a> page. </p>
    <p>
        If you have any feedback, ideas or anything at all you may wish to discuss with me, I can be contacted via the <a href="/contact/"> Contact Me </a> page. 
    </p>
    <p>
        Enjoy the website. 
    </p>
{% endblock %}
